.language-container {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.spanish {
    background-color: #f0f0f0;
    color: #000;
}

.english {
    background-color: #f0f0f0;
    color: rebeccapurple
}
